.news-runner {
	.runner-wrapper {
		max-height: 550px;
		overflow: auto;
		max-width: 1000px;
		min-width: 600px;
		margin: auto;
		padding-right: 15px;
		padding-left: 15px;
	}
	.news-item {
		height: 60px;
		cursor: pointer;
		padding-left: 10px;
		padding-right: 10px;
		font-family: Heebo, sans-serif;
		font-size: 20px;
		font-weight: bold;
		text-align: right;
		color: #000000;
		background: white;
		margin: auto auto 14px;
		display: flex;
		align-items: center;
		direction: rtl;
		.news-source-img {
			width: 50px;
			
			&.mako {
				width: 66px;
			}
			&.ynet {
				padding-left: 8px;
				padding-right: 8px;
			}
		}
		.text {
			&:hover {
				text-decoration: underline;
			}
		}
		.material-icons {
			margin-right: auto;
			padding-right: 10px;
			cursor: pointer;
		}
	}
	@media only screen and (min-height: 900px){
		.runner-wrapper {
			max-height: 600px;
		}
	}
	@media only screen and (min-height: 700px) and (min-height: 900px){
		.runner-wrapper {
			max-height: 550px;
		}
	}
	@media only screen and (max-height: 700px) {
		.runner-wrapper {
			max-height: 400px;
		}
	}
	@media only screen and (max-width: 650px) {
		.runner-wrapper {
			max-height: 500px;
			overflow: auto;
			min-width: 250px;
			padding-right: 15px;
			padding-left: 15px;
			
			.news-item {
				font-size: 13px;
				.news-source-img {
					width: 30px;
					
					&.mako {
						width: 46px;
					}
					&.ynet {
						padding-left: 8px;
						padding-right: 8px;
					}
				}
			}
		}
	}
}

