@import "../size.scss";

.news-runner {
	.news-item {
		height: 75px;
		cursor: pointer;
		padding-left: 10px;
		padding-right: 10px;
		font-family: Heebo, sans-serif;
		font-size: 20px;
		font-weight: bold;
		text-align: right;
		color: #000000;
		background: white;
		margin: auto auto 18px;
		display: flex;
		align-items: center;
		direction: rtl;
		border-radius: 3px;
		.news-source-img {
			width: 50px;
			
			&.mako {
				width: 66px;
			}
			&.ynet {
				padding-left: 8px;
				padding-right: 8px;
			}
			&.walla {
				padding-left: 14px;
				padding-right: 14px;
				width: 35px;
			}
		}
		.text {
			&:hover {
				text-decoration: underline;
			}
		}
		.material-icons {
			margin-right: auto;
			padding-right: 10px;
			cursor: pointer;
			border: none;
			background: transparent;
			
			&:focus {
				outline: none;
			}
		}
	}
	.runner-wrapper {
		max-height: calc(100vh - #{$header-height} - #{$footer-height});
		min-height: calc(#{$app-min-height} - #{$small-header-height} - #{$footer-height});
		overflow: auto;
		max-width: 1200px;
		min-width: 600px;
		margin: auto;
		padding-right: 15px;
		padding-left: 15px;
	}
	@media only screen and (max-width: 650px), (max-height: 750px) {
		.runner-wrapper {
			max-height: calc(100vh - #{$small-header-height} - #{$footer-height});
		}
	}
	@media only screen and (max-width: 650px) {
		.runner-wrapper {
			overflow: auto;
			min-width: 250px;
			padding-right: 15px;
			padding-left: 15px;
			
			.news-item {
				font-size: 13px;
				padding-right: 4px;
				padding-left: 4px;
				.news-source-img {
					width: 30px;
					
					&.mako {
						width: 46px;
					}
					&.ynet {
						padding-left: 8px;
						padding-right: 8px;
					}
					&.walla {
						padding-left: 10px;
						padding-right: 10px;
						width: 23px;
					}
				}
			}
		}
	}
}

