.news-page {
	width: 100%;
	height: 100%;
}
.news-runner {
	background-color: white;
	width: 100vw;
	height: 85px;
}
.center-container {
	margin: auto;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.desc {
	font-family: Heebo, sans-serif;
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	direction: rtl;
	font-size: 20px;
}
.speed-settings {
	position: absolute;
	bottom: 0;
	color: white;
	font-family: Heebo, sans-serif;
	font-size: 20px;
	left: 50%;
	transform: translateX(-50%);
	direction: rtl;
	padding-bottom: 20px;
}
.news-runner-container {
	overflow: hidden;
	height: 85px;
}
.speed-settings > span {
	padding-right: 7px;
	padding-left: 7px;
	cursor: pointer;
	opacity: 0.25;
}
.category-btn {
	width: 146px;
	font-family: Heebo, sans-serif;
	font-size: 24px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000c2d;
	cursor: pointer;
	opacity: 0.5;
}
.category-btn.selected {
	opacity: 1;
}
.speed-settings > span.selected {
	opacity: 1;
}
.categories-container {
	display: flex;
	align-items: center;
	height: 85px;
}
.runner-wrapper {
	box-sizing: content-box;
	padding-bottom: 15px;
	overflow-x: scroll;
	overflow-y: hidden;
	height: inherit;
	width: inherit;
	white-space: nowrap;
	direction: rtl;
}
.footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
}
.footer-relative {
	position: relative;
	width: 100%;
	height: 100%;
}
.settings-button {
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
	font-family: Heebo, sans-serif;
	padding-right: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}
.news-item {
	height: 80px;
	cursor: pointer;
	padding-top: 27px;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Heebo, sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #000000;
}
.news-item:hover {
	text-decoration: underline;
}
