.news-page {
	width: 100%;
	height: 100%;
	justify-content: center;
	
	.news-runner {
	
	}
	.logo {
		max-width: 320px;
		margin-top: 130px;
	}
	.desc {
		font-family: Heebo, sans-serif;
		color: white;
		margin-top: 5px;
		margin-bottom: 70px;
		direction: rtl;
		font-weight: 300;
		font-size: 14px;
	}
	.news-runner-container {
		display: flex;
		justify-content: center;
	}
	.category-btn {
		width: 146px;
		font-family: Heebo, sans-serif;
		font-size: 24px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000c2d;
		cursor: pointer;
		opacity: 0.5;
	}
	.category-btn.selected {
		opacity: 1;
	}
	
	.categories-container {
		display: flex;
		align-items: center;
		height: 85px;
	}
	
	.footer {
		position: absolute;
		bottom: 0;
		height: 40px;
		width: 100%;
	}
	.footer-relative {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		direction: rtl;
		justify-content: center;
		.settings-button {
			color: white;
			padding-left: 10px;
			padding-right: 10px;
			font-family: Heebo, sans-serif;
			cursor: pointer;
			
			&.selected {
				text-decoration: underline;
			}
		}
	}
	
	.runner-wrapper {
		max-height: 600px;
		overflow: auto;
		max-width: 1000px;
		min-width: 600px;
		margin-left: 100px;
		margin-right: 100px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.news-item {
		height: 60px;
		cursor: pointer;
		padding-left: 10px;
		padding-right: 10px;
		font-family: Heebo, sans-serif;
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #000000;
		background: white;
		margin: auto auto 14px;
		display: flex;
		align-items: center;
		direction: rtl;
		.news-source-img {
			width: 50px;
			
			&.mako {
				width: 66px;
			}
			&.ynet {
				padding-left: 8px;
				padding-right: 8px;
			}
		}
		.text {
			&:hover {
				text-decoration: underline;
			}
		}
		.material-icons {
			margin-right: auto;
			padding-right: 10px;
			cursor: pointer;
		}
	}
	
	@media only screen and (max-width: 650px) {
		.logo {
			max-width: 180px;
			margin-top: 70px;
		}
		.desc {
			font-family: Heebo, sans-serif;
			margin-bottom: 40px;
			font-size: 11px;
		}
		.runner-wrapper {
			max-height: 500px;
			overflow: auto;
			min-width: 250px;
			margin-left: 15px;
			margin-right: 15px;
			padding-right: 15px;
			padding-left: 15px;
			
			.news-item {
				font-size: 13px;
				.news-source-img {
					width: 30px;
					
					&.mako {
						width: 46px;
					}
					&.ynet {
						padding-left: 8px;
						padding-right: 8px;
					}
				}
			}
		}
		@media only screen and (min-height: 900px){
			.runner-wrapper {
				max-height: 600px;
			}
		}
		@media only screen and (max-height: 700px) {
			.runner-wrapper {
				max-height: 400px;
			}
		}
	}
}

